/* RealTimeChart.css */

.chart-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
  }
 

  .ip-connection-button{
    margin-left: 10px;
  }
  @media (max-width: 1200px) {
    .chart-container {
      grid-template-columns: repeat(1, 1fr);
  }}